<!DOCTYPE html>
<html>
    <head></head>
    <title></title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="css/style.css">
    
    <body>
        {{>header}}
        <p>help article not found!!!!</p>
    </body>
{{>footer}}
</html>